body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.list {
  list-style: none; /*убирає маркер в списку*/
}
.link {
  text-decoration: none;
}
/*.header {
}
.header-navigation {
}*/
.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  /* text-transform: uppercase;*/
  color: #2e2f42;
}
.header-logo-color {
  color: #4d5ae5;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-hero {
  background: #2e2f42;
}
.main-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.main-hero-title-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* display: flex;
  align-items: center;*/
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.main-First-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-first-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-second-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.main-third-section {
  background: #f4f4fd;
}
.main-third-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /*text-align: center;*/
  letter-spacing: 0.02em;
  /* text-transform: capitalize;*/
  color: #2e2f42;
}
.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.main-nav-button {
  /*width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /*display: flex;
align-items: center;
text-align: center;*/
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
}
.main-nav-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.main-nav-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.main-nav-list {
  background: #ffffff;
}
.main-nav-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-nav-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  /*display: flex;
  align-items: center;*/
  letter-spacing: 0.03em;
  /*text-transform: uppercase;*/
  color: #4d5ae5;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.button-all {
  cursor: pointer;
}
.main-third-section-list {
  background: #ffffff;
}
.main-third-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /*text-align: center;*/
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-third-section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /*text-align: center;*/
  letter-spacing: 0.02em;
  color: #434455;
}
